{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "lifeos-x-dev",
    "storage_bucket": "lifeos-x-dev.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:lifeosx",
        "android_client_info": {
          "package_name": "com.lifeosx.app"
        }
      },
      "api_key": [
        {
          "current_key": "replace-with-firebase-api-key"
        }
      ]
    }
  ],
  "configuration_version": "1"
}

